[submodule "utils/gyp"]
	path = utils/gyp
	url = http://git.chromium.org/external/gyp.git
[submodule "ecl"]
	path = ecl
	url = git://git.code.sf.net/p/ecls/ecl
[submodule "slime"]
	path = slime
	url = git://common-lisp.net/projects/mirror/slime.git
[submodule "lisp-packages/cl-opengl"]
	path = lisp-packages/cl-opengl
	url = git://github.com/ageneau/cl-opengl.git
[submodule "lisp-packages/cffi"]
	path = lisp-packages/cffi
	url = https://github.com/cffi/cffi.git

[submodule "mpir"]
	path = mpir
	url = https://github.com/wbhart/mpir.git
[submodule "bdwgc"]
	path = bdwgc
	url = https://github.com/ivmai/bdwgc.git
[submodule "libatomic_ops"]
	path = libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
