[submodule "utils/gyp"]
	path = utils/gyp
	url = http://git.chromium.org/external/gyp.git
[submodule "ecl"]
	path = ecl
	url = git://git.code.sf.net/p/ecls/ecl
[submodule "slime"]
	path = slime
	url = git://common-lisp.net/projects/mirror/slime.git
[submodule "lisp-packages/cl-opengl"]
	path = lisp-packages/cl-opengl
	url = git@github.com:ageneau/cl-opengl.git
[submodule "lisp-packages/cffi"]
	path = lisp-packages/cffi
	url = https://github.com/juanjosegarciaripoll/cffi.git
